* {
    /* outline: red dotted 1px; */
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-3);
}

:root {
    --color-1: rgb(0, 109, 119);
    --color-2: rgb(131, 197, 190);
    --color-3: rgb(237, 246, 249);
    --color-4: rgb(255, 221, 210);
    --color-5: rgb(226, 149, 120);

}

.wrapper {
    display: grid;
    width: 95vw;
    /* background-color: var(--color-5); */
    margin: 0px auto;
    min-height: 90vh;
    grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'start start stop stop log log';

}


.container {
    grid-area: middle;
    display: grid;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--color-2);
    margin: 0px auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); 
}

.container > .image {
    background-color: var(--color-2);
    background-image: url(../img/56-512.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: background-color .15s;
}
    .container > .image:hover {
        background-color: var(--color-4);
        cursor: pointer;
    }

    .container > .active {
        background-color: var(--color-4);
    }


.start, .stop, .log {
    background-color: var(--color-1);
}

.start{
    grid-area: start;
    color: var(--color-3);
}
.stop{
    grid-area: stop;
    color: var(--color-3);
}
.log{
    grid-area: log;
    color: var(--color-3);
}

.header{
    grid-area: header;
    padding: 20px;
    text-align: center;
}