<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CurrentTime/css/styles.css' %}"> 
</head>
<body>

    <div class="wrapper">other stuff

        <div class="timer">Placeholder
                            right now you need to set up the html of the timer and stuff. have Jinja render it eventually

        </div>














    </div>

</body>
</html>