appnope==0.1.0
astroid==2.3.3
backcall==0.1.0
bcrypt==3.1.7
cffi==1.13.2
Click==7.0
colorclass==2.2.0
decorator==4.4.1
Django==1.10
dodgy==0.1.9
Flask==1.1.1
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.4
parso==0.5.1
pep8-naming==0.4.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
pydocstyle==4.0.1
pyflakes==1.6.0
Pygments==2.7.4
pylint==2.4.4
pylint-celery==0.3
pylint-django==2.0.10
pylint-flask==0.6
pylint-plugin-utils==0.6
pyo==1.0.1
PyYAML==5.1.2
requirements-detector==0.6
setoptconf==0.2.0
six==1.12.0
snowballstemmer==2.0.0
terminaltables==3.1.0
traitlets==4.3.3
typed-ast==1.4.0
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
wxPython==4.0.7.post2
