<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Welcome, {{user.first_name}}!</h1>
    <a href="/logout">Log Out</a>

    <h3>{{the_book.title}}</h3>
    <p>Added by: {{the_book.uploaded_by.first_name}} {{the_book.uploaded_by.last_name}}</p>
    <p>Added on: {{the_book.created_at}}</p>
    <p>Last updated: {{the_book.updated_at}}</p>
    <p>Description: {{the_book.description}}</p>
    <p><a href="/favorite/{{the_book.id}}">Favorite this book</a></p>

    <h3>Users Who Like This Book:</h3>

    <ul>
        {% for user in users_who_like %}
        <ul>{{user.first_name}} {{user.last_name}}</ul>
        {% endfor %}
    </ul>








    
</body>
</html>